<div class="container">
  <%= form_with model: @section do |form| %>
    <div>
      <%= form.label :position, class:"form-label" %><br>
      <%= form.text_field :position, class:"form-control" %>
    </div>
    <br>
    <div>
      <%= form.label :title, class:"form-label" %><br>
      <%= form.text_field :title, class:"form-control" %>
    </div>
    <br>
    <div>
      <%= form.label :location, class:"form-label" %><br>
      <%= form.text_field :location, class:"form-control" %>
    </div>
    <br>
    <div>
      <%= form.submit "Submit", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
