<div class="container text-center">
  <p id="notice"><%= notice %></p>

  <h1>Pages</h1>
  <br>
  <%= link_to 'New Page', new_page_path, class:"btn btn-custom" %>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Section</th>
        <th>Page type</th>
        <th>Permalink</th>
        <th>Visible</th>
        <th>Position</th>
        <th>Content</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @pages.each do |page| %>
        <tr>
          <td><%= page.title %></td>
          <td><%= page.section_id %></td>
          <td><%= page.page_type %></td>
          <td><%= page.permalink %></td>
          <td><%= page.visible %></td>
          <td><%= page.position %></td>
          <td><%= page.content %></td>
          <td><%= link_to 'Show', page, class:"btn btn-custom" %></td>
          <td><%= link_to 'Edit', edit_page_path(page), class:"btn btn-custom" %></td>
          <td><%= link_to 'Destroy', page, class:"btn btn-custom", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Page', new_page_path, class:"btn btn-custom" %>
</div>
