<div class="container">
  <div class="row">
    <div class="col col-lg-12 text-center">
      <h1>Welcome to the Harmony Club of Worcester!</h1>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-4 col-md-4 col-sm-4 text-center">
      <%= image_tag 'american.png'%>
    </div>
    <div class="col col-lg-4 col-md-4 col-sm-4 text-center">
      <%= image_tag 'canada.png'%>
    </div>
    <div class="col col-lg-4 col-md-4 col-sm-4 text-center">
      <%= image_tag 'french.png'%>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <div class="row">
    <div class="col col-lg-12 text-center">
      <h4>The Harmony Club of Worcester, Massachusetts is a fraternal organization of men and women of French descent that was organized in 1925. The Club holds monthly meetings at O'Connor's Restaurant in Worcester with guest speakers. The Club also sponsors other cultural/social/sport events, tours, adult and children's Christmas parties. Members can participate in our golf league that takes place at Bed Rock Golf Club in Rutland, MA.</h4>
      <p>Our major fund raiser is our "Bob Picard Memorial Golf Tournament" that is held at the Leicester Country Club in Leicester, MA every September. The proceeds from this tournament are the sole funding of the scholarship and civic awards.</p>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <div class="row">
    <div class="col col-lg-6 text-center">
      <h3>Annual Golf Tournament</h3>
      <br>
      <p>Information about golf tournament will be filled with filler content. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col col-lg-6 text-center">
      <%= image_tag 'golfpic.png'%>
    </div>
  </div>
  <br><br><br>
  <div class="row">
    <div class="col col-lg-6 text-center">
      <%= image_tag 'community.png'%>
    </div>
    <div class="col col-lg-6 text-center">
      <h3>Supporting Our Community</h3>
      <br>
      <p>In years past, the club has contributed to many organizations, including: Treasure Valley, Saint Anne's Orphanage, Camp Lemieux, Assumption College, Holy Name High School, Assumption Preparatory School, Saint Francis Home, Friendly House, The French Institute at Assumption College, Jeremiah's Inn, WCUW, Saint Joseph's Church, and many more.</p>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <div class="row">
    <div class="col col-lg-12 text-center">
      <h2>Our Sponsors</h2>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col col-lg-3 col-md-6 text-center">
      <%= image_tag 'dcu.png', class: "sponsor" %>
    </div>
    <div class="col col-lg-3 col-md-6 text-center">
      <%= image_tag 'wbmason.png', class: "sponsor" %>
    </div>
    <div class="col col-lg-3 col-md-6 text-center">
      <%= image_tag 'rbt.png', class: "sponsor" %>
    </div>
    <div class="col col-lg-3 col-md-6 text-center">
      <%= image_tag 'rice.png', class: "sponsor" %>
    </div>
  </div>

</div>
